<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adviser-evaluationform1-page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{ url_for('static', filename='images/EvalRate-Logo.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    
    
<div class="page-container">
  
    <div class="sidebar">

        <div class="profile-section">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile">
            </div>
            <div class="profile-details">
                <p id="profile-name">Jhon Denard Firme</p>
                <p id="profile-company">Unilab Pharmaceuticals</p>
            </div>

            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
        </div>


        <div class="dashboard-section" >

            <a href="{{ url_for('adviser.adviser_dashboard') }}">
            <div class="dashboard-cell">
                <div class="dashboard">
                    <i class="ph-bold ph-house-simple"></i>
                    <p class="text">Dashboard</p>
                </div>
            </div>
            </a>

            <a href="{{ url_for('adviser.adviser_student') }}">
            <div class="dashboard-cell">
                <div class="student">
                    <i class="ph-bold ph-user"></i>
                    <p class="text">Student</p>
                </div>
            </div>
            </a>

            <a href="{{ url_for('adviser.adviser_analytics') }}">
                <div class="dashboard-cell">
                    <div class="analytics">
                        <i class="ph-bold ph-chart-bar"></i>
                        <p class="text">Analytics</p>
                    </div>
                </div>
            </a>


            <a href="#">
                <div class="dashboard-cell active">
                    <div class="forms">
                        <i class="ph-bold ph-file-text"></i>
                        <p class="text">Evaluation Forms</p>
                        <i class="caret ph ph-caret-down"></i>
                    </div>
                </div>
            </a>



            <div class="dashboard-submenu">
                <a href="{{ url_for('adviser.adviser_evaluationForm1') }}">
                    <div class="submenu-cell">
                        <div class="form-1">
                            <i class="ph-bold ph-file-text"></i>
                            <p class="text">Form 1</p>
                        </div>
                    </div>
                </a>

                <a href="{{ url_for('adviser.adviser_evaluationForm2') }}">
                    <div class="submenu-cell active">
                        <div class="form-2">
                            <i class="ph-bold ph-file-text"></i>
                            <p class="text">Form 2</p>
                        </div>
                    </div>
                </a>

                <a href="{{ url_for('adviser.adviser_evaluationForm3') }}">
                    <div class="submenu-cell">
                        <div class="form-3">
                            <i class="ph-bold ph-file-text"></i>
                            <p class="text">Form 3</p>
                        </div>
                    </div>
                </a>
        </div>


            








        </div>

        <div class="settings-section">

            <div class="dashboard-cell">
                <div class="settings">
                    <i class="ph-bold ph-gear-six"></i>
                    <p class="text">Settings</p>
                </div>
            </div>
        </div>


    </div>










    <div class="main-page">

        <div class="title-header">
            <div class="title-icon-frame">
                <i class="ph-fill ph-file-text"></i>
                
            </div>

            <div class="title-info">
                <p class="title-form">Form 2</p>
                <p class="title-description">Supervisor to Intern Evaluation</p>
            </div>

            <div class="title-submission">
                <div class="submission-top">
                    <i class="ph ph-user-circle-check"></i>
                    <p class="submission-title">Submissions</p>
                </div>
            
                <div class="submission-bottom">
                    <p class="submission-data">13 | 32
                    </p>
                </div>
            </div>


        </div>



    <!------------------------------------------------->

        
    <div class="records-table">

        <div class="records-table-header">
            <div class="record-profile">
                Student Name
            </div>

            <div class="record-company">
                Company
            </div>

            <div class="record-status">
                Status
            </div>

            <div class="record-file">
                File
            </div>

        </div>


        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status active">
                <i class="ph ph-check-square status"></i>
                <p class="record-text status">Submitted</p>
            </div>

            <div class="record-file active">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>


        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status active">
                <i class="ph ph-check-square status"></i>
                <p class="record-text status">Submitted</p>
            </div>

            <div class="record-file active">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>




        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status active">
                <i class="ph ph-check-square status"></i>
                <p class="record-text status">Submitted</p>
            </div>

            <div class="record-file active">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>




        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status active">
                <i class="ph ph-check-square status"></i>
                <p class="record-text status">Submitted</p>
            </div>

            <div class="record-file active">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>


        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status ">
                <i class="ph ph-x-square"></i>
                <p class="record-text status">Pending</p>
            </div>

            <div class="record-file ">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>

        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status ">
                <i class="ph ph-x-square"></i>
                <p class="record-text status">Pending</p>
            </div>

            <div class="record-file ">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>

        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status ">
                <i class="ph ph-x-square"></i>
                <p class="record-text status">Pending</p>
            </div>

            <div class="record-file ">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>

        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status ">
                <i class="ph ph-x-square"></i>
                <p class="record-text status">Pending</p>
            </div>

            <div class="record-file ">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>

        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-status ">
                <i class="ph ph-x-square"></i>
                <p class="record-text status">Pending</p>
            </div>

            <div class="record-file ">
                <i class="ph ph-file-arrow-down"></i>
            </div>

        </div>







    </div>        
  


</div>


</body>
</html>