<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adviser-dashboard-page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{ url_for('static', filename='images/EvalRate-Logo.png') }}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>



<body>
    
<div class="page-container">
  
    <div class="sidebar">

        <div class="profile-section">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile">
            </div>
            <div class="profile-details">
                <p id="profile-name">Jhon Denard Firme</p>
                <p id="profile-company">Unilab Pharmaceuticals</p>
            </div>

            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
        </div>


        <div class="dashboard-section" >

            <a href="{{ url_for('adviser.adviser_dashboard') }}">
                <div class="dashboard-cell active">
                    <div class="dashboard">
                        <i class="ph-bold ph-house-simple"></i>
                        <p class="text">Dashboard</p>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('adviser.adviser_student') }}">
            <div class="dashboard-cell">
                <div class="student">
                    <i class="ph-bold ph-user"></i>
                    <p class="text">Student</p>
                </div>
            </div>
            </a>

            <a href="{{ url_for('adviser.adviser_analytics') }}">
            <div class="dashboard-cell">
                <div class="analytics">
                    <i class="ph-bold ph-chart-bar"></i>
                    <p class="text">Analytics</p>
                </div>
            </div>
            </a>

            <a href="#">
                <div class="dashboard-cell">
                    <div class="forms">
                        <i class="ph-bold ph-file-text"></i>
                        <p class="text">Evaluation Forms</p>
                        <i class="caret ph ph-caret-down"></i>
                    </div>
                </div>
            </a>

            
            <div class="dashboard-submenu">
                    <a href="{{ url_for('adviser.adviser_evaluationForm1') }}">
                        <div class="submenu-cell">
                            <div class="form-1">
                                <i class="ph-bold ph-file-text"></i>
                                <p class="text">Form 1</p>
                            </div>
                        </div>
                    </a>

                    <a href="{{ url_for('adviser.adviser_evaluationForm2') }}">
                        <div class="submenu-cell">
                            <div class="form-1">
                                <i class="ph-bold ph-file-text"></i>
                                <p class="text">Form 2</p>
                            </div>
                        </div>
                    </a>

                    <a href="{{ url_for('adviser.adviser_evaluationForm3') }}">
                        <div class="submenu-cell">
                            <div class="form-1">
                                <i class="ph-bold ph-file-text"></i>
                                <p class="text">Form 3</p>
                            </div>
                        </div>
                    </a>
            </div>
            

            


            



        </div>


        <div class="settings-section">
            
            <a href="#">
                <div class="dashboard-cell">
                    <div class="settings">
                        <i class="ph-bold ph-gear-six"></i>
                        <p class="text">Settings</p>
                    </div>
                </div>
            </a>
        </div>


    </div>


    <div class="main-page">
        <div class="header-info">
            <p class="class-section">BS Chemistry 2-3</p>
            <p class="class-department">Department of Physical Sciences</p>
        </div>



        
        <div class="header-widgets">

            <div class="widget-cell">
                <div class="widget-top">
                    <i class="ph ph-qr-code"></i>
                    <p class="widget-title">Class Code</p>
                </div>
            
                <div class="widget-bottom">
                    <p class="widget-data">CD-012345</p>
                </div>

                <i class="ph ph-qr-code"></i>
            </div>

            <div class="widget-cell">
                <div class="widget-top">
                    <i class="ph ph-user-circle-plus"></i>
                    <p class="widget-title">Total Students</p>
                </div>
            
                <div class="widget-bottom">
                    <p class="widget-data">32 Students</p>
                </div>

                <i class="ph ph-user-circle-plus"></i>
            </div>

            <div class="widget-cell">
                <div class="widget-top">
                    <i class="ph ph-user-circle-plus"></i>
                    <p class="widget-title">Complete Submissions</p>
                </div>
            
                <div class="widget-bottom">
                    <p class="widget-data">12 | 32</p>
                </div>

                <i class="ph ph-user-circle-plus"></i>
            </div>

        </div>

        <div class="records-table">

            <div class="records-table-header">
                <div class="record-profile">
                    Student Name
                </div>

                <div class="record-company">
                    Company
                </div>

                <div class="record-email">
                    Email
                </div>

                <div class="record-checkbox">
                    <div class="form">
                        F1
                    </div>

                    <div class="form">
                        F2
                    </div>

                    <div class="form">
                        F3
                    </div>
                </div>

            </div>


            <div class="record-cell">

                <div class="record-profile">
                    <div class="record-pic">
                        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                    </div>
                    <div class="record-name">
                        <p class="record-text">Jhon Denard Firme</p>
                    </div>
                </div>


                <div class="record-company">
                    <p class="record-text">Unilab Pharmaceuticals</p>
                </div>

                <div class="record-email">
                    <p class="record-text">firme.jhondenard@gmail.com</p>
                </div>

                <div class="record-checkbox">
                    <div class="record-checkbox-1">
                        <i class="ph-bold ph-x-square"></i>
                    </div>

                    <div class="record-checkbox-2">
                        <i class="ph-bold ph-check-square"></i>
                    </div>

                    <div class="record-checkbox-3">
                        <i class="ph-bold ph-check-square"></i>
                    </div>
                </div>
        </div>

        
        <div class="record-cell">

            <div class="record-profile">
                <div class="record-pic">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
                </div>
                <div class="record-name">
                    <p class="record-text">Jhon Denard Firme</p>
                </div>
            </div>


            <div class="record-company">
                <p class="record-text">Unilab Pharmaceuticals</p>
            </div>

            <div class="record-email">
                <p class="record-text">firme.jhondenard@gmail.com</p>
            </div>

            <div class="record-checkbox">
                <div class="record-checkbox-1">
                    <i class="ph-bold ph-x-square"></i>
                </div>

                <div class="record-checkbox-2">
                    <i class="ph-bold ph-check-square"></i>
                </div>

                <div class="record-checkbox-3">
                    <i class="ph-bold ph-check-square"></i>
                </div>
            </div>
    </div>

    
    <div class="record-cell">

        <div class="record-profile">
            <div class="record-pic">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
            </div>
            <div class="record-name">
                <p class="record-text">Jhon Denard Firme</p>
            </div>
        </div>


        <div class="record-company">
            <p class="record-text">Unilab Pharmaceuticals</p>
        </div>

        <div class="record-email">
            <p class="record-text">firme.jhondenard@gmail.com</p>
        </div>

        <div class="record-checkbox">
            <div class="record-checkbox-1">
                <i class="ph-bold ph-x-square"></i>
            </div>

            <div class="record-checkbox-2">
                <i class="ph-bold ph-check-square"></i>
            </div>

            <div class="record-checkbox-3">
                <i class="ph-bold ph-check-square"></i>
            </div>
        </div>
</div>

<div class="record-cell">

    <div class="record-profile">
        <div class="record-pic">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
        </div>
        <div class="record-name">
            <p class="record-text">Jhon Denard Firme</p>
        </div>
    </div>


    <div class="record-company">
        <p class="record-text">Unilab Pharmaceuticals</p>
    </div>

    <div class="record-email">
        <p class="record-text">firme.jhondenard@gmail.com</p>
    </div>

    <div class="record-checkbox">
        <div class="record-checkbox-1">
            <i class="ph-bold ph-x-square"></i>
        </div>

        <div class="record-checkbox-2">
            <i class="ph-bold ph-check-square"></i>
        </div>

        <div class="record-checkbox-3">
            <i class="ph-bold ph-check-square"></i>
        </div>
    </div>
</div>


<div class="record-cell">

    <div class="record-profile">
        <div class="record-pic">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
        </div>
        <div class="record-name">
            <p class="record-text">Jhon Denard Firme</p>
        </div>
    </div>


    <div class="record-company">
        <p class="record-text">Unilab Pharmaceuticals</p>
    </div>

    <div class="record-email">
        <p class="record-text">firme.jhondenard@gmail.com</p>
    </div>

    <div class="record-checkbox">
        <div class="record-checkbox-1">
            <i class="ph-bold ph-x-square"></i>
        </div>

        <div class="record-checkbox-2">
            <i class="ph-bold ph-check-square"></i>
        </div>

        <div class="record-checkbox-3">
            <i class="ph-bold ph-check-square"></i>
        </div>
    </div>
</div>



<div class="record-cell">

    <div class="record-profile">
        <div class="record-pic">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
        </div>
        <div class="record-name">
            <p class="record-text">Jhon Denard Firme</p>
        </div>
    </div>


    <div class="record-company">
        <p class="record-text">Unilab Pharmaceuticals</p>
    </div>

    <div class="record-email">
        <p class="record-text">firme.jhondenard@gmail.com</p>
    </div>

    <div class="record-checkbox">
        <div class="record-checkbox-1">
            <i class="ph-bold ph-x-square"></i>
        </div>

        <div class="record-checkbox-2">
            <i class="ph-bold ph-check-square"></i>
        </div>

        <div class="record-checkbox-3">
            <i class="ph-bold ph-check-square"></i>
        </div>
    </div>
</div>


<div class="record-cell">

    <div class="record-profile">
        <div class="record-pic">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
        </div>
        <div class="record-name">
            <p class="record-text">Jhon Denard Firme</p>
        </div>
    </div>


    <div class="record-company">
        <p class="record-text">Unilab Pharmaceuticals</p>
    </div>

    <div class="record-email">
        <p class="record-text">firme.jhondenard@gmail.com</p>
    </div>

    <div class="record-checkbox">
        <div class="record-checkbox-1">
            <i class="ph-bold ph-x-square"></i>
        </div>

        <div class="record-checkbox-2">
            <i class="ph-bold ph-check-square"></i>
        </div>

        <div class="record-checkbox-3">
            <i class="ph-bold ph-check-square"></i>
        </div>
    </div>
</div>


<div class="record-cell">

    <div class="record-profile">
        <div class="record-pic">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
        </div>
        <div class="record-name">
            <p class="record-text">Jhon Denard Firme</p>
        </div>
    </div>


    <div class="record-company">
        <p class="record-text">Unilab Pharmaceuticals</p>
    </div>

    <div class="record-email">
        <p class="record-text">firme.jhondenard@gmail.com</p>
    </div>

    <div class="record-checkbox">
        <div class="record-checkbox-1">
            <i class="ph-bold ph-x-square"></i>
        </div>

        <div class="record-checkbox-2">
            <i class="ph-bold ph-check-square"></i>
        </div>

        <div class="record-checkbox-3">
            <i class="ph-bold ph-check-square"></i>
        </div>
    </div>
</div>


<div class="record-cell">

    <div class="record-profile">
        <div class="record-pic">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile"></i>
        </div>
        <div class="record-name">
            <p class="record-text">Jhon Denard Firme</p>
        </div>
    </div>


    <div class="record-company">
        <p class="record-text">Unilab Pharmaceuticals</p>
    </div>

    <div class="record-email">
        <p class="record-text">firme.jhondenard@gmail.com</p>
    </div>

    <div class="record-checkbox">
        <div class="record-checkbox-1">
            <i class="ph-bold ph-x-square"></i>
        </div>

        <div class="record-checkbox-2">
            <i class="ph-bold ph-check-square"></i>
        </div>

        <div class="record-checkbox-3">
            <i class="ph-bold ph-check-square"></i>
        </div>
    </div>
</div>

        

    </div>

        


    </div>

</div>  


</body>
</html>