<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvalRate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-dashboard-page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{ url_for('static', filename='images/EvalRate-Logo.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    
    
<div class="page-container">
  
    <div class="sidebar">

        <div class="profile-section">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile">
            </div>
            <div class="profile-details">
                <p id="profile-name">Jhon Denard Firme</p>
                <p id="profile-company">Unilab Pharmaceuticals</p>
            </div>

            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
        </div>


        <div class="dashboard-section" >

            <a href="{{ url_for('student.student_dashboard') }}">
            <div class="dashboard-cell active">
                <div class="dashboard">
                    <i class="ph-bold ph-house-simple"></i>
                    <p class="text">Dashboard</p>
                </div>
            </div>
            </a>


            <a href="#">
                <div class="dashboard-cell">
                    <div class="forms">
                        <i class="ph-bold ph-file-text"></i>
                        <p class="text">Evaluation Forms</p>
                        <i class="caret ph ph-caret-down"></i>
                    </div>
                </div>
            </a>



            <div class="dashboard-submenu">
                <a href="{{ url_for('student.student_evaluationForm1') }}">
                    <div class="submenu-cell">
                        <div class="form-1">
                            <i class="ph-bold ph-file-text"></i>
                            <p class="text">Form 1</p>
                        </div>
                    </div>
                </a>

                <a href="{{ url_for('student.student_evaluationForm2') }}">
                    <div class="submenu-cell">
                        <div class="form-1">
                            <i class="ph-bold ph-file-text"></i>
                            <p class="text">Form 2</p>
                        </div>
                    </div>
                </a>

                <a href="{{ url_for('student.student_evaluationForm3') }}">
                    <div class="submenu-cell">
                        <div class="form-1">
                            <i class="ph-bold ph-file-text"></i>
                            <p class="text">Form 3</p>
                        </div>
                    </div>
                </a>
        </div>


            








        </div>

        <div class="settings-section">

            <div class="dashboard-cell">
                <div class="settings">
                    <i class="ph-bold ph-gear-six"></i>
                    <p class="text">Settings</p>
                </div>
            </div>
        </div>


    </div>










    <div class="main-page">

        <div class="header-info">
            <p class="class-section">BS Chemistry 2-3</p>
            <p class="class-department">Department of Physical Sciences</p>
        </div>
    <!------------------------------------------------->

    

        <div class="form-status-section">

            <div class="form-title">
                <p>Evaluation Form Status</p>
            </div>

            <div class="form-icons-section">

                <div class="form-icon f1 submitted">
                    <i class="ph ph-file-dashed"></i>
                    <p class="icon-text">Form 1</p>
                </div>

                <div class="icon-line"></div>

                <div class="form-icon f2 submitted">
                    <i class="ph ph-file-text"></i>
                    <p class="icon-text">Form 2</p>
                </div>

                <div class="icon-line"></div>

                <div class="form-icon f3">
                    <i class="ph ph-file-dashed"></i>
                    <p class="icon-text">Form 3</p>
                </div>

            </div>

            <div class="section-divider">
            </div>

            <div class="form-name">
                <div class="form-name-text">
                    <p>Intern to Supervisor <br> Evaluation Form</p>
                </div>

                <div class="form-name-text">
                    <p>Supervisor to Intern <br> Evaluation Form</p>
                </div>

                <div class="form-name-text">
                    <p>Adviser to Company <br> Evaluation Form</p>
                </div>
            </div>

        </div>

    <!------------------------------------------------->

        <div class="student-details-section">

            <div class="personal-details">

                <div class="detail-header">
                    <p>Student Information</p>
                </div>

                <div class="detail-cell name">
                    <div class="detail-title">Name</div>
                    <div class="detail-info">Jhon Denard Firme</div>
                </div>

                <div class="detail-cell department">
                    <div class="detail-title">Department</div>
                    <div class="detail-info">Physical Sciences</div>
                </div>

                <div class="detail-cell course">
                    <div class="detail-title">Course & Section</div>
                    <div class="detail-info">BS Chemistry 3-2</div>
                </div>

                <div class="detail-cell adviser">
                    <div class="detail-title">Adviser</div>
                    <div class="detail-info">Jhon Denard Firme</div>
                </div>

                <div class="detail-cell email">
                    <div class="detail-title">Email</div>
                    <div class="detail-info">firme.jhondenard@gmail.com</div>
                </div>

                <div class="detail-cell contact">
                    <div class="detail-title">Contact</div>
                    <div class="detail-info">0921-8393-390</div>
                </div>

            </div>

            <div class="intership-details">

                <div class="detail-header">
                    <p>Intership Information</p>
                </div>

                <div class="detail-cell company">
                    <div class="detail-title">Company</div>
                    <div class="detail-info">Unilab Pharmaceuticals</div>
                </div>

                <div class="detail-cell address">
                    <div class="detail-title">Address</div>
                    <div class="detail-info">Manila, Metro Manila</div>
                </div>

                <div class="detail-cell supervisor">
                    <div class="detail-title">Supervisor Name</div>
                    <div class="detail-info">Jhon Denard Firme</div>
                </div>

                <div class="detail-cell position">
                    <div class="detail-title">Supervisor Position</div>
                    <div class="detail-info">Head Chemist</div>
                </div>

                <div class="detail-cell email">
                    <div class="detail-title">Email</div>
                    <div class="detail-info">firme.jhondenard@gmail.com</div>
                </div>

                <div class="detail-cell contact">
                    <div class="detail-title">Contact</div>
                    <div class="detail-info">0921-8393-390</div>
                </div>



            </div>
        </div>





    </div>        
  


</div>


</body>
</html>