<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvalRate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{ url_for('static', filename='images/EvalRate-Logo.png') }}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>



<body>
    
    <div class="page-container">

        <!-- ------------------------ PHOTO COLUMN ------------------------ -->

        <div class="page-photo">

            <a href="{{ url_for('web.home_page') }}">
                <div class="website-title">
                    <div class="logo">

                    </div>
                    <div class="title">
                        EVALRATE
                    </div>
                    <div class="subtitle">
                        POLYTECHNIC UNIVERSITY OF THE PHILIPPINES - OJT EVALUATION PORTAL
                    </div>
                </div>
            </a>
        </div>



        <!-- ------------------------ LOGIN COLUMN ------------------------ -->

        <div class="page-details">

            <div class="container">

                <div class="header">


                    <h2>
                        Sign-In
                    </h2>
                </div>

                <div class="forms">

                    <form action="{{ url_for('student.student_login') }}" method="POST">
                        <div class="input-cell">
                            <label for="username" class="label-text">Email</label>
                            <input type="text" id="username" name="email" class="input-field" placeholder="you@email.com">
                        </div>

                        <div class="input-cell">
                            <label for="password" class="label-text">Password</label>
                            <input type="password" id="password" name="password" class="input-field" placeholder="********">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'error' %}
                                            <div class="flash-message">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        

                        <div class="submit-panel">
                            <input type="submit" class="button" value="Log-In">

                            <a href="{{ url_for('student.student_signup') }}">
                                You don't have an Account?
                            </a>
                        </div>

                            
                    </form>
                </div>
            </div>
            
        </div>

        


    </div>

    <script src="{{ url_for('static', filename='js/student-login.js') }}"></script>

</body>


</html>